/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

body {
	font: normal normal 400;
	font-size: 11pt;
	line-height: 1.35em;
	font-family: Verdana,sans-serif;
	margin: 1in auto;
	max-width: 6.5in;
}

p {
	margin-bottom: 0.2em;
	width: 100%;
}

code {
	font: normal normal;
	font-size: 90%;
	font-family: Menlo,monospace,sans-serif;
	color: #333;
}

p code, li code {
	float: right;
}

ul { 
	width: 100%;
	margin-bottom: 1em;
}

li {
	padding-left: 1.25em;
	text-indent: -1.25em;
}

li:before {
	content: "•";
	padding-right: 0.5em;
}

li ul {
	position: relative;
	left: 0;
	width: 100%;
	margin-top: 0.25em;
}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Cousine,Verdana,sans-serif;
	width: 100%;
}

h1 {
	text-align: left;
	font-size: 3em;
	line-height: 1em;
	margin-bottom: 0.2in;
}

h1+p { 
	font-style: italic;
	font-size: 110%;
}

h2 {
	font-size: 1.2em;
	color: rgb(46, 112, 255);
	margin-top: 0.3in;
	margin-bottom: 0.1in;
	border-bottom: 1pt solid #ccc;
}

h3 {
	font-size: 1.1em;
	line-height: 1.5em; 
	margin-top: 0.15in;
}

a {
	color: #007bff;
	text-decoration: none;
}

a::after {
	content: " \2197";
	font-size: 0.8em;
	vertical-align: super;
}

a:hover {
	color:#0056b3;
	text-decoration: underline;
}

#webaddress {
	margin-bottom: 0.3in;
	color: #666;
	font-family: Menlo,monospace,sans-serif;
	font-size: 80%;
}

em {
	font-style: normal;
	color: #2d4e5e 
}

strong {
	font-weight: bold;
}

#ghbutton {
	display: none;
	visibility: hidden;
}
